@use "functions" as *;

// =====================================================
// MEDIA QUERY MIXIN
// =====================================================
@mixin respond-to($breakpoint) {
    @if $breakpoint ==desktop {
        @media (max-width: $desktop) {
            @content;
        }
    }

    @else if $breakpoint ==laptop {
        @media (max-width: $laptop) {
            @content;
        }
    }

    @else if $breakpoint ==tablet {
        @media (max-width: $tablet) {
            @content;
        }
    }

    @else if $breakpoint ==tablet-sm {
        @media (max-width: $tablet-sm) {
            @content;
        }
    }

    @else if $breakpoint ==mobile {
        @media (max-width: $mobile) {
            @content;
        }
    }

    @else if $breakpoint ==mobile-sm {
        @media (max-width: $mobile-sm) {
            @content;
        }
    }
}

// =====================================================
// CONTAINER MIXIN
// =====================================================
@mixin container {
    max-width: 90rem; // 1440px
    width: 100%;
    margin: 0 auto;
    padding-inline: 2rem;
}